<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id='img-bg'></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <!--<label for="nome">Nome</label>-->
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Nome">
                    </div>

                    <div class="form-group">
                        <!--<label for="email">E-mail</label>-->
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <!--<label for="foto">Link da foto</label>-->
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>

                    <div class="form-group">
                        <!--<label for="usuario">Senha</label>-->
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <!--<label for="confirmSenha">Confirmar Senha</label>-->
                        <input class="form-control" type="password" name="senha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group">
                        <!--<label for="tipo">Tipo de usuário</label>-->
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Tipo de usuário</option>
                            <option value="normal">Profissional</option>
                            <option value="admin">Organização</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" routerLink="/login" class="btn btn-danger mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

