.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.josefin-reg {
  font-family: 'Josefin Sans', sans-serif;
}

.mulish {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

.btn-azul {
  background: #2D6073
}

.fs-27 {
  font-size: 27pt;
}

.botao-success{
  background: transparent;
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: ease-in-out .25s;
}

.botao-success:hover{
  background:  #31a926;

}
.botao-danger{
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: ease-in-out .25s;
}

.botao-danger:hover{
  background:  #c21515b7;
}
