.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#body {
  background: linear-gradient(-45deg, #D95B43, #1f192f, #2d6073, #65b8a6, #b5e8c3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.card {
  box-shadow: 0 0 5px 0 ;
  background: #ffffff21;
  backdrop-filter: blur(10px);
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.josefin-reg {
  font-family: 'Josefin Sans', sans-serif;
}

.mulish {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

.btn-azul {
  background: #2D6073
}

.fs-27 {
  font-size: 27pt;
}

.form-group {
    margin-left: 20px;
    margin-right: 20px;
}

.linha {
    margin-left: 20px;
    margin-right: 20px;
}
