<div class="container-fluid vertical-center">

    <div class="row">

        <div class="col-md-6" id='img-bg'></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="usuario" id="usuario" placeholder="Nome">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.email" class="form-control" type="email" name="email" id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>

                    <div class="form-group">
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.senha"class="form-control" type="password" name="senha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group">
                        <select (change)="tipoUser($event)" class="form-control" name="tipo" id="tipo">
                            <option value="tipo">Tipo de usuário</option>
                            <option value="profissional">Profissional</option>
                            <option value="org">Organização</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" routerLink="/login" class="btn btn-danger mr-4">Cancelar</button>
                        <button (click)="cadastrar()" type="submit" class="btn btn-azul roboto text-white">Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>