<div class="container mb-5 mt-5">
<div class="row">
   <div class="col-md-12">
       <h1 class="text-center text-segundary">Apagar postagem</h1>
   </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="text-center text-segundary">Você tem certeza que deseja apagar essa postagem? </h4>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <div class="card text-center" *ngFor='let item of tema.postagem'>
            <div class="card-body">
           <h5 class="card-title m-0">{{item.titulo}}</h5>
           <p class="card-text mt-3">{{item.texto}}</p>
           <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy' }} às {{item.data | date: 'HH:mm'}}</small></p>
          <p class="card-text"><small class="text-muted"> by: {{item.usuario.nome}}</small></p>
            </div>
           </div> 
    </div>
</div>

<div class="row mt-5">
<div class="col-md-12 d-flex justify-content-center">
<button class="btn btn-danger mr-4" routerLink='/inicio'>Não</button>
<button class="btn btn-success" (click)='apagar()'>Sim</button>
</div>
</div>

</div>

