<footer class="page-footer font-small bg-secondary pt-4">

    
    
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">© AdaTech 2022. Todos os direitos reservados.</span>
        <a class= "text"href=""></a>
        <ul class="social-network">
    
   
            <li>
                <a href="https://github.com/AdaTech-Projeto-Integrador" target="_blank" class="icoGithub">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        
        </ul>
    
    </div>
    </footer>
    
