<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Entre em contato conosco</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu nome">
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Seu email">
                    </div>

                    <div class="form-group">
                        <label for="assunto">Assunto</label>
                        <input class="form-control" type="text" name="assunto" id="assunto" placeholder="Assunto">
                    </div>


                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione o tipo de usuário</option>
                            <option value="normal">Profissional</option>
                            <option value="admin">Organização</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>