<div class="container-fluid">

    <div class="row d-flex align-items-center">
    
    <div class="col-md-6">
    
    <div class="row d-flex justif-content-center">
        <div class="col-md-6">
    
            <h1 class="text-center mb-3">AdaTech</h1>
            <div class="form-group">
                <label for="email">E-mail</label>
              <input class="form-control" type="text" name="email" id="email" 
              placeholder="Seu email">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
              <input class="form-control" type="password" name="senha" id="senha" 
              placeholder="Sua senha">
            </div>
            <div class="d-felx justify-content-center">
             <button type="submit" class="btn btn-success">Entrar</button>   
            </div>
    
            <hr class="mt-5 mb-5">
    
            <p class="text-center">
                Não tem uma conta? <a routerLink="/cadastro">Cadastre-se agora</a>
            </p>
            
        </div>
        
    </div>
    </div>
    <div class="col-md-6" id="img-bg"></div>
    
    </div>
    
    </div>

