
<div class="container">
    <div class="row">
      <div class="col-sm">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, error commodi tenetur, nesciunt distinctio, autem obcaecati odit aspernatur tempora excepturi ducimus aut earum. Nihil, dolor! Pariatur blanditiis asperiores mollitia <br>
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla accusantium fugiat nemo excepturi amet tempore nobis assumenda dolore voluptates minus est modi natus, necessitatibus eaque cum maiores reprehenderit eos sit.
      </div>
      <div class="col-sm">
        <iframe src='https://my.spline.design/lightingbunnycopy-a3d086e59ceabf0789c422819f3da57c/' frameborder='0' width='100%' height='100%'></iframe>
    </div>
  </div>
<div id="grafico">


</div>

<div id="equipe">
    <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-4 d-flex">
        <div class="col-md-12 ">
            <p class="titulo mb-3 mt-3">
                Nossa Equipe
            </p>
        </div>
    </div>
    
    <div class="container displayed">
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 d-flex ">
            
            <div class="col mb-5">
                <img src="https://i.imgur.com/xvJupNO.png" class="displayed " alt="Imagem">
                <div>
                    <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                        reprehenderit delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit temporibus ad cum similique ffdsfgfgkffdgdfgdfgdfg.</p>

                </div>
                <div class="d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/carlos-kelvin-gomes-de-sousa-10675677/" target="_blank">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a href="https://github.com/carloskelvinn13" target="_blank">
                        <i class="fa-brands fa-github "></i>
                    </a>
                </div>


            </div>
            <div class="col justify-content-center mb-5 "> <img class="displayed" src="https://i.imgur.com/c7j2dsN.png"
                    alt="Imagem">
                <div>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum, reprehenderit
                        delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit
                        temporibus ad cum similique.
                    </p>

                </div>
                <div class="d-flex justify-content-center">
                    <a target="_blank" href=" https://www.linkedin.com/in/fábiosferreirajr">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://github.com/fabiosfjr">
                        <i class="fa-brands fa-github "></i>
                    </a>
                </div>

            </div>

            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/TMLNkep.png" alt="Imagem">
                <div>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum, reprehenderit
                        delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit
                        temporibus ad cum similique.
                    </p>

                </div>

                <div class="d-flex justify-content-center">
                    <a target="_blank" href="https://www.linkedin.com/in/guilhermepetro/">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://github.com/guilherme-petro">
                        <i class="fa-brands fa-github "></i>
                    </a>
                </div>
            </div>
            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/WL9ZGH6.png" alt="Imagem">
                <div>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum, reprehenderit
                        delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit
                        temporibus ad cum similique.
                    </p>


                </div>
                <div class="d-flex justify-content-center">
                    <a target="_blank" href="https://www.linkedin.com/in/igorluan95/">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://github.com/igorluan95">
                        <i class="fa-brands fa-github "></i>
                    </a>
                </div>
            </div>
            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/ZQT8EZz.png" alt="Imagem">
                <div>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum, reprehenderit
                        delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit
                        temporibus ad cum similique.
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <a target="_blank" href="https://www.linkedin.com/in/layane-pereira-84b95a229/">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://github.com/LayannePereira">
                        <i class="fa-brands fa-github "></i>
                    </a>
                </div>
            </div>
            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/djlaKYd.png" alt="Imagem">
                <div>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum, reprehenderit
                        delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit
                        temporibus ad cum similique.
                    </p>

                </div>
                <div class="d-flex justify-content-center">
                    <a target="_blank" href="https://www.linkedin.com/in/michelle-silva-madeira-8184aa189/">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://github.com/michellemadeira1">
                        <i class="fa-brands fa-github "></i>
                    </a>
                </div>
            </div>
            <div class="col mb-5"> <img class="displayed" src="https://i.imgur.com/39Yi4JG.png" alt="Imagem">
                <div>
                    <p class="texto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum, reprehenderit
                        delectus
                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere ab dignissimos
                        fugit
                        temporibus ad cum similique.
                    </p>

                </div>
                <div class="d-flex justify-content-center">
                    <a target="_blank" href="https://www.linkedin.com/in/nadynebarbieri/">
                        <i class="fa-brands fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://github.com/NadyneBarbieri">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>