<nav class="navbar navbar-expand-lg text-dark navbar-dark fs-rob bg-azul fixed-top">

    <a class="navbar-brand" routerLink='/inicio'>
        <img src="https://i.imgur.com/f27xEvc.png" width="200" height="53" class="d-inline-block align-top logo"
            alt="Logo AdaTech">
    </a>
    <button class="navbar-toggler fonte-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" routerLink='/inicio'>Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/cadastrar'>Cadastrar</a>
            </li>
        </ul>

    </div>
</nav>
<div class="body">
<div class="container">
    <div class="row b">
        <div class="col b">

        </div>
        <div class="col-6 b">
            <img src="https://i.imgur.com/Zp3eWm2.png" class="img-fluid t " alt=" Logo Adatech">
        </div>
        <div class="col">

        </div>

        <div class="container">
            <div class="row">
                <div class="col texto">
                    A desigualdade de acesso à educação e ao mercado de trabalho entre homens e mulheres é um fato. De
                    acordo
                    com os dados do IBGE, mulheres ocupam cerca 37% dos cargos gerenciais no mercado de trabalho. Entre
                    todas
                    essas mulheres, 67% são mulheres brancas e apenas 31% de mulheres negras. A diferença salarial
                    também é
                    alta. Homens recebem, em média, R$ 2306,00 por mês, enquanto as mulheres recebem, mensalmente, uma
                    média de
                    R$ 1764,00. <br>
                    Quando falamos em tecnologia, essa diferença é ainda maior. No mercado de trabalho, elas ocupam
                    apenas 20%
                    dos cargos, segundo o Cadastro Geral de Empregados e Desempregados (Caged). Esse dado segue baixo
                    mesmo com
                    o crescimento de 60% da participação feminina na área, que passou de 27,9 mil mulheres em 2014 para
                    44,5 mil
                    em 2019.
                    <br>
                    Pensando nessa discrepância na área, queremos criar uma rede social voltada para mulheres que atuam
                    e
                    queiram atuar na área da tecnologia para que possam construir suas próprias redes profissionais e se
                    conectem com empresas que buscam promover mais igualdade entre seu quadro de funcionários.
                </div>
                <div class="col">
                    <div class="col-sm  mt-5 ">
                        <img src="https://i.imgur.com/11zNYCr.png" alt="" width="250px" height="62px">
                    </div>
                </div>

                <div id="equipe">
                    <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-4 d-flex">
                        <div class="col-md-12 ">
                            <p class="titulo mb-3 mt-3">
                                Nossa Equipe
                            </p>
                        </div>
                    </div>

                    <div class="container displayed">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 d-flex ">

                            <div class="col mb-5">
                                <img src="https://i.imgur.com/xvJupNO.png" class="displayed " alt="Imagem">
                                <div>
                                    <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
                                        nostrum,
                                        reprehenderit delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit temporibus ad cum similique ffdsfgfgkffdgdfgdfgdfg.</p>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <a href="https://www.linkedin.com/in/carlos-kelvin-gomes-de-sousa-10675677/"
                                        target="_blank">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a href="https://github.com/carloskelvinn13" target="_blank">
                                        <i class="fa-brands fa-github "></i>
                                    </a>
                                </div>


                            </div>
                            <div class="col justify-content-center mb-5 "> <img class="displayed"
                                    src="https://i.imgur.com/c7j2dsN.png" alt="Imagem">
                                <div>
                                    <p class="texto">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                                        reprehenderit
                                        delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit
                                        temporibus ad cum similique.
                                    </p>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <a target="_blank" href=" https://www.linkedin.com/in/fábiosferreirajr">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a target="_blank" href="https://github.com/fabiosfjr">
                                        <i class="fa-brands fa-github "></i>
                                    </a>
                                </div>

                            </div>

                            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/TMLNkep.png"
                                    alt="Imagem">
                                <div>
                                    <p class="texto">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                                        reprehenderit
                                        delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit
                                        temporibus ad cum similique.
                                    </p>

                                </div>

                                <div class="d-flex justify-content-center">
                                    <a target="_blank" href="https://www.linkedin.com/in/guilhermepetro/">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a target="_blank" href="https://github.com/guilherme-petro">
                                        <i class="fa-brands fa-github "></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/WL9ZGH6.png"
                                    alt="Imagem">
                                <div>
                                    <p class="texto">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                                        reprehenderit
                                        delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit
                                        temporibus ad cum similique.
                                    </p>


                                </div>
                                <div class="d-flex justify-content-center">
                                    <a target="_blank" href="https://www.linkedin.com/in/igorluan95/">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a target="_blank" href="https://github.com/igorluan95">
                                        <i class="fa-brands fa-github "></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/ZQT8EZz.png"
                                    alt="Imagem">
                                <div>
                                    <p class="texto">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                                        reprehenderit
                                        delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit
                                        temporibus ad cum similique.
                                    </p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a target="_blank" href="https://www.linkedin.com/in/layane-pereira-84b95a229/">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a target="_blank" href="https://github.com/LayannePereira">
                                        <i class="fa-brands fa-github "></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col  mb-5"> <img class="displayed" src="https://i.imgur.com/djlaKYd.png"
                                    alt="Imagem">
                                <div>
                                    <p class="texto">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                                        reprehenderit
                                        delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit
                                        temporibus ad cum similique.
                                    </p>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <a target="_blank"
                                        href="https://www.linkedin.com/in/michelle-silva-madeira-8184aa189/">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a target="_blank" href="https://github.com/michellemadeira1">
                                        <i class="fa-brands fa-github "></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col mb-5"> <img class="displayed" src="https://i.imgur.com/39Yi4JG.png"
                                    alt="Imagem">
                                <div>
                                    <p class="texto">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum,
                                        reprehenderit
                                        delectus
                                        debitis possimus porro aliquid iusto blanditiis esse sapiente ipsum eum facere
                                        ab
                                        dignissimos
                                        fugit
                                        temporibus ad cum similique.
                                    </p>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <a target="_blank" href="https://www.linkedin.com/in/nadynebarbieri/">
                                        <i class="fa-brands fa-linkedin "></i>
                                    </a>
                                    <a target="_blank" href="https://github.com/NadyneBarbieri">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>