
  .container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
    justify-items: center;
    background-color: #2d6073;
    
  }
  
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    
}
.container{
    background-color: #2d6073
   
}

.fa-brands{
font-size: 20pt;
text-align: center;
padding: 10px;
color: rgb(255, 255, 255);
}
.fa-brands:hover{
    color: rgba(187, 184, 184, 0.801);
}

.texto{
  color: rgb(7, 7, 7);
  font-family: 'Anek Odia', sans-serif;
  margin-bottom: 0%;
  margin-top: 10px;

}
#equipe{
  background-color: #2d6073;
}

.titulo{
  font-size: 40px;
  color: aliceblue;
  text-align: center;
}







